.preview-images {
  .splash {
    width: 50;
    height: 50;
    object-fit: cover;
    object-position: center;
  }
}

.simple_form {
  display: inline-block;
}

.color{
  background-color: #59bb59;
  font-weight: bold;
  font-size: 14px;
}

.color-bad {
  background-color: #cf4421;
  font-weight: bold;
  font-size: 14px;
}
