<div class="dropdownmenu" data-search-brands-list-target="list">
  <% @brands.each do |brand| %>
    <% if brand.eco? %>
      <%= link_to "#{brand.name}",
      ecofriendly_brand_path(brand),
      class: "dropdown-item",
      data: {search_brands_list_target: "item"},
      style: {
        padding: "32px"
      } %>
    <% else %>
gi      <%= link_to "#{brand.name}",
      naughty_brand_path(brand),
      class: "dropdown-item",
      data: {search_brands_list_target: "item"} %>
    <% end %>
  <% end %>
</div>
