<%= form_tag(
    root_path, method: 'get',
    class: "form-inline",
    data: {search_brands_list_target: "form"}
  ) do %>
  <div class="search-bar" data-search-brands-list-target="search">
    <i class="fas fa-search d-inline"></i>
    <%= text_field_tag :query,
      params[:query],
      class: "d-inline search-input",
      placeholder: "Search brand",
      data: {
        action: "click->search-brands-list#displayBrands
        keyup->search-brands-list#updateBrandsList",
        search_brands_list_target: "input"
      }
    %>
  </div>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
