<h1>🌎 Style in Peace 🌎</h1>

<p>TODO: Navbar</p>

<p>TODO: Search</p>

<div class='container'>
  <div>
    <h2>New eco-brands on the block</h2>
    <div>
      <% @new_brands.each do |brand| %>
        <h3><%= brand.name %></h3>
        <p><%= brand.average_rating %></p>
      <% end %>
    </div>
  </div>

  <div>
    <h2>Eco-brands for you</h2>
    <div>
      <% @recommended_brands.each do |brand| %>
        <h3><%= brand.name %></h3>
        <p><%= brand.average_rating %></p>
      <% end %>
    </div>
  </div>
</div>





<p>TODO: Footer</p>
