<div class="hero">
    <h2>How eco-friendly are the brands you shop with?</h2>
    <div class="search" data-controller="search-brands-list">
      <%= render 'search' %>
      <%= render 'list' %>
    </div>
</div>

<div class="container mt-3">
  <h2>New eco-brands on the block</h2>
</div>
<div>
  <%= render 'brands/preview', brands: @new_brands %>
</div>

<% if current_user %>
  <div class="container mt-3">
    <h2>Eco-brands for you</h2>
  </div>
    <% if @recommended_brands.empty? %>
      <div class="container">
        <p>Sorry, we don't have any brands that match your criteria.</p>
      </div>
    <% else %>
      <%= render 'brands/preview', brands: @recommended_brands %>
    <% end %>
<% end %>
