#measure-button {
  text-transform: uppercase;
  color: black;
}

// #all-measures {

// }

#measure-descriptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  float: left;
  width: 50%;
}

#measures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  float: right;
  width: 50%;

}

p {
  color: gray;
}

#all-measures {
  display: inline;
}

.earth-rating .fas {
  color: #40476D;
}

.animals-rating .fas {
  color: #AD5D4E;
}

.people-rating .fas {
  color: #400406;
}


.materials-rating .fas {
  color: #ACBEA3;
}
