#measure-button {
  text-transform: uppercase;
  color: black;
}

// #all-measures {

// }

#measure-descriptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}
