.banner {
  margin: 0;
  height: 100vh;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/jFCViYFYcus/1600x900');
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}
