// Style the back button
.icon-btn {
  color: #262626;
  border: 1.5px solid #262626;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.icon-btn:hover {
  text-decoration: none;
  color:white;
  background-color: #262626;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  i {
    color: white;
  }
}

// Style primary button
.primary-btn {
  color:white;
  background: #262626;
  border-radius: 32px;
  transition: 0s;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;

  position: static;
  height: 50px;
  left: 0px;
  top: 296px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.primary-btn:hover {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 0.2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgba(38, 38, 38, 0.9);
  font-size: 100%;
}

// Style icon + text button
.icon-text-btn {
  color: #262626;
  border: 2px solid #262626;
  border-radius: 32px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
}

.tweet {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  &:hover {
    transition: 0s !important;
    transform: none !important;
    font-size: 16px !important;
  }
}

.icon-text-btn:hover {
  text-decoration: none;
  color:white;
  background-color: #262626;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  i {
    color: white;
  }
}

.fa-instagram {
  font-size: 28px;
}

.exit-btn {
  border: none;
  background: none;
  font-size: 16px;
  padding: 0px 6px;
  width: fit-content;

  &:hover i {
    color: rgba(38, 38, 38, 0.6);
  }
}

.simple-text-btn {
  border: none;
  background: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;

  i {
    padding-left: 4px;
  }

  &:hover {
    color: rgba(38, 38, 38, 0.6);
    i {
      color: rgba(38, 38, 38, 0.8);
    }
  }
}

.submit-btn {
  color: white;
  background-color: #262626;
  border: none;
  border-radius: 32px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  width: 100%;
  margin-top: 12px;
}

.submit-btn:hover {
  text-decoration: none;
  border: 2px solid #262626;
  color:#262626;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
