.info-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.simple-card {
  width: 300px;
  height: 350px;
  text-align: center;
  color: white;
  padding-top: 150px;
  background-size: cover;
  background-position: center;
}
