.search-bar {
  border-radius: 32px;
  border: none;
  padding-left: 24px;
  background: rgba(255, 255, 255, 0.5);
  // border: 1.5px solid rgba(255, 255, 255, 0.5);
  font-family: 'Quicksand', sans-serif;
  color: #262626;

  i {
    color: rgba(38, 38, 38, 0.4);
    padding-right: 8px;
  }

  .search-input {
    border: none;
    background: none;
    padding: 16px 24px 16px 0px;
  }

  &:hover i {
    // border: 1.5px solid rgba(38, 38, 38, 0.3);
    letter-spacing: 0.4px;
    color: rgba(38, 38, 38, 1);
  }

  &:active {
    // border: 1.5px solid rgba(38, 38, 38, 0.3);
    // border-radius: 32px 32px 0px 0px;
    border: none;
  }
}

input:focus, textarea {
    outline: none !important;
}

.dropdownmenu {
  max-height: 200px;
  overflow: auto;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 8px 8px;

  .dropdown-item {
    padding: 12px 24px;
    font-family: 'Quicksand', sans-serif;
    color: #262626;
    font-weight: 400;

    &:hover {
      font-weight: 600;
    }
  }
}
