.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  white-space: nowrap;
  height: 40px;
}

.style-in-peace {
  display: inline-block;
  .style {
    font-size: 16px;
    letter-spacing: .2rem ;
  }
  .peace {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  .a {
    color: black;
  }
}

.nav-item .nav-link{
  color: black !important;
}

.fas {
  color: black;
  text-decoration: none;
}

.login {
  margin-left: 467px;
  font-size: 25px;
}
