
.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  position:fixed;
}

.navbar{
  background: rgba(255, 255, 255, 0);
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  white-space: nowrap;
  height: 40px;
}

.style-in-peace {
  display: inline-block;
  .style {
    font-size: 16px;
    letter-spacing: .2rem ;
  }
  .peace {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  .a {
    color: black;
  }
}

.nav-item .nav-link{
  color: black;
}

.nav-item {
  margin-right: 20px;
}

.fas {
  color: black;
  text-decoration: none;
}

.login {
  margin-left: 467px;
  font-size: 25px;
}

.navbar-nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-brand{
  align-items: center;
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.25rem;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}

.transparent{
  position:fixed;
}

.white{
  color:white !important;
}

.black{
  color:black !important;
}
.transparent-btn{
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: 19px;
    &:hover,&:active,&:focus{
      background: transparent;
      background-color: transparent !important;
      box-shadow: none !important;
      border: none;
    }
}
