.prev-wrapper {
  display: grid;
  grid-template-columns: repeat(2,100%);
  overflow:scroll;
  overflow-y: hidden;
  height: 455px;

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 20px 0;
    padding-left: 20px;

    .item {
      padding: 0 2px;
    }

  }
}
