.save-btn {
  background: white !important;
  border-radius: 100% !important;
  border: 1px solid !important;
  padding: 3px 6px 0px 6px !important;
}

.saved-btn {
  background: white !important;
  border-radius: 50% !important;
  border: 1px solid !important;
  padding: 5px !important;
}

button {
  padding: 0;
  margin: 0;
}
