.slideshow {
  height: 500px;
  width: 400px;

  .background-img {
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;

    .content {
      position: absolute;
      top: 100px;
      left: 50px;
      right: 50px;
      color: white;
    }
  }
}

// .card-slideshow {
//   height: 300px;

//   .background-img {
//   background-position: center;
//   background-size: cover;
//   position: relative;
//   height: 300px;
//   }
// }
