<div class="d-flex flex-wrap justify-content-between" data-search-brand-cards-target="cards">
  <% brands.each do |brand| %>
      <div class="mt-1" style= "width: 33%">
        <%= render 'brands/card_improved', brand: brand %>
      </div>
  <% end %>
</div>
