<div class="d-flex flex-wrap" data-search-brand-cards-target="cards">
  <% brands.each do |brand| %>
    <div data-controller="brand-card col-12">
      <div data-action="mouseenter->brand-card#changeCard mouseleave->brand-card#changeCardBack">
        <div data-brand-card-target="card">
          <%= render 'brands/simple_card', brand: brand %>
        </div>
        <div class='d-none' style="width: 300px; height: auto;" data-brand-card-target="info">
          <%= render 'brands/info_card', brand: brand  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
