<div class="d-flex flex-wrap" data-search-brand-cards-target="cards">
  <% brands.each do |brand| %>
      <div class="mt-1 mr-1" style= "width: 25vw">
        <%= render 'brands/card_improved', brand: brand %>
      </div>
  <% end %>
</div>
