<div class="accordion" id="accordionExample">

  <%# First collapsable - Impact - default visible %>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Impact
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="d-flex">
          <% @brand.rating_earth.times do %>
            <i class="fas fa-globe-americas mx-1 mt-2">  </i>
          <% end %>
        </div>
        <div class="d-flex">
          <% @brand.rating_people.times do %>
            <i class="fas fa-user mx-1 mt-2">  </i>
          <% end %>
        </div>
        <div class="d-flex">
          <% @brand.rating_animals.times do %>
            <i class="fas fa-paw mx-1 mt-2">  </i>
          <% end %>
        </div>
        <div class="d-flex">
          <% @brand.rating_materials.times do %>
            <i class="fas fa-recycle mx-1 mt-2">  </i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# Collapsable 2 - Why we love them - default hidden %>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p> <%= @brand.about %></p>
      </div>
    </div>
  </div>

</div>
