<div data-search-news-target="articles" class = "news-container">
  <% newsarticles.each do |news| %>
    <div style="width: 32%; margin-top: 1.9%;">
      <%= render 'brands/news_card', news: news %>
    </div>
  <% end %>
</div>
