<div class="row">
  <div class="row_inner">
    <% brands.first(10).each do |brand| %>
      <div class="tile">
        <%= render 'brands/card_improved', brand: brand %>
      </div>
    <% end %>
  </div>
</div>
