<div class="container">
  <div>
    <h1>Eco-brands near you</h1>
  </div>
  <div class="brands-list d-flex">
    <%# TODO - list of brands shown on the map %>
  </div>

  <div class="map">
    <div class="address">
      <p><%= current_user.address %></p>
    </div>
  </div>


</div>
