<%= render 'shared/navbar' %>

<div class="mt-5">
  <div class="page-layout-with-back-btn">
    <div class="back-btn-container">
      <%= link_to 'javascript:history.go(-1);' do %>
        <button class="icon-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
      <% end %>
    </div>

    <div class="container">
      <h1>Saved brands</h1>
      <div class="d-flex flex-wrap" data-search-brand-cards-target="cards">
        <% @saved_brands.each do |sb| %>
          <div class="mt-1 ml-1" style= "width: 24.5%">
            <%= render 'brands/card_improved', brand: sb.brand %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
